.grijs {
    color: #939598;
}

h1 {
    color: #f65b5c;
}

p {
    color: #939598;
    margin-bottom: 30px;
}

h2 {
    color: black;
}

a {
    background-color: #f65b5c;
    padding: 15px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: orange;
}

image {
    float: left;
}

body {
    background-color: #e9eaea;
    font-family: sans-serif;
    margin: 50px;
}